header {
  background-color: var(--gray-700);
  height: 200px;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header img {
  width: 2.2rem;
  height: 3.6rem;
}
header span {
  color: var(--blue);
  font-size: 4rem;
  font-weight: 900;
}
header span + span {
  color: var(--purple-dark);
}