.taskWrap {
  display: flex;
  align-items: flex-start;
  background-color: var(--gray-500);
  border-radius: 0.8rem;
  border: 1px solid var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 1.6rem;
  gap: 1.2rem;
  color: var(--gray-100);
  font-size: 1.4rem;
  line-height: 140%;
  margin-bottom: 1.2rem;
}
.taskWrap p {
  flex: 1;
}

.taskWrap button {
  background-color: transparent;
  border: none;
  color: var(--gray-100);
  padding: 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.taskWrap button svg {
  color: var(--gray-300);
}
.taskWrap button:hover {
  background-color: var(--gray-400);
}
.taskWrap button:hover svg {
  color: var(--danger);
}
.checkboxContainer {
  display: inline-block;
  position: relative;
  padding-left: 1.6rem;
  margin-right: 1.2rem;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 50%;
  z-index: 2;
}

.checkmark img {
  display: block;
  margin: auto;

  max-width: 100%;
  max-height: 100%;
}

.checkboxContainer input:hover:not(:checked) ~ .checkmark {
  border: 2px solid var(--blue-dark);
  cursor: pointer;
}
.checkboxContainer input:focus:checked ~ .checkmark {
  border: 2px solid var(--purple-dark);
  cursor: pointer;
}

.checkboxContainer input:hover:checked ~ .checkmark {
  opacity: 0.9;
}
.checkboxContainer input:checked ~ .checkmark {
  border: 2px solid var(--purple-dark);
}
